.dropdown {

  .dropdown-head {
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;
    @include border('bottom');
    cursor: pointer;

    i {
      margin-right: $spacing-sm;
    }
    i:not(.active) {
      display: none;
    }

  }

  .dropdown-content {
    display: none;
    //padding-top: $spacing-sm;
    //padding-bottom: $spacing-sm;
    padding: $spacing-sm;
  }

}
