/*
  This file imports all mixins.

  ~~ DO NOT REMOVE IMPORTS THIS FILE ~~

  Thanks.
 */

@mixin icon {
  display: inline-block;
  height: 23px;
  width: 23px;
  line-height: 23px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 1000px;
  color: $global-icon-text-color;
}

@mixin img-placeholder {
  padding-top: 180%;
  position: relative;
  background: $gray-100;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@mixin box-shadow {
  box-shadow: $global-box-shadow;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}