@import "settings";

.grid {
  max-width: $global-max-width;
  margin: 0 auto;

  @for $i from 1 through 12 {
    .g#{$i} {
      float: left;
      position: relative;
      width: (100% * ($i / 12));
      padding: 0 ($global-grid-gutter / 2);
      box-sizing: border-box;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      min-height: 1px;
    }
  }

  &.collapse {
    > [class^="g"]:not(.grid) {
      padding: 0;
    }
  }

  &.table-grid {
    display: table;

    [class^="g"]:not(.grid) {
      display: table-cell;
      float: none;
    }
  }

  &.center-columns {
    [class^="g"]:not(.grid) {
      margin: 0 auto;
      float: none;
    }
  }
}

.grid, .clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}