/*
  This file generates spacing utility classes.
 */

$spacing-list: ('xs', 'sm', 'md', 'lg', 'xl', 'xxl', 'xxxl', 'xxxxl');
$spacing-base: index($spacing-list, 'sm'); // 2

@function getSpacingValue($v) {
  $result: null;

  @if (index($spacing-list, $v) < $spacing-base) {

    $x: index($spacing-list, $v) + 1;
    $result: $global-baseline-grid / $x;

  } @else {

    $x: index($spacing-list, $v) - 1;
    $result: $global-baseline-grid * $x;

  }
  @return $result;
}

@for $key from 1 through length($spacing-list) {
  $name: nth($spacing-list, $key);
  $spacing: getSpacingValue($name);

  .p-#{$name} {
    padding: $spacing !important;
    box-sizing: border-box;
  }
  .pt-#{$name} {
    padding-top: $spacing !important;
    box-sizing: border-box;
  }
  .pb-#{$name} {
    padding-bottom: $spacing !important;
    box-sizing: border-box;
  }
  .pr-#{$name} {
    padding-right: $spacing !important;
    box-sizing: border-box;
  }
  .pl-#{$name} {
    padding-left: $spacing !important;
    box-sizing: border-box;
  }
  .py-#{$name} {
    padding-top: $spacing !important;
    padding-bottom: $spacing !important;
    box-sizing: border-box;
  }
  .px-#{$name} {
    padding-left: $spacing !important;
    padding-right: $spacing !important;
    box-sizing: border-box;
  }

  .m-#{$name} {
    margin: $spacing !important;
  }
  .mt-#{$name} {
    margin-top: $spacing !important;
  }
  .mb-#{$name} {
    margin-bottom: $spacing !important;
  }
  .mr-#{$name} {
    margin-right: $spacing !important;
  }
  .ml-#{$name} {
    margin-left: $spacing !important;
  }
  .my-#{$name} {
    margin-top: $spacing !important;
    margin-bottom: $spacing !important;
  }
  .mx-#{$name} {
    margin-left: $spacing !important;
    margin-right: $spacing !important;
  }
}