@import "../utils/colors";

@mixin btn-base($btn-bg: $black, $btn-outline: $black, $btn-text: $white, $padding-x: $spacing-xl) {
  color: $btn-text;
  background-color: $btn-bg;
  border: 1px solid $btn-outline;
  padding: 0 $padding-x;

  .fa {
    margin-right: 4px;
  }

  .tooltip {
    display: none !important;
  }

  &:focus {
    outline: 0;
  }

  @if (brightness($btn-bg) > 50%) {
    &:hover {
      background-color: darken($btn-bg, 10%);
    }
  } @else {
    &:hover {
      background-color: lighten($btn-bg, 10%);
    }
  }

  &:hover {
    outline: 0;
    opacity: 1 !important;
    pointer-events: auto !important;

    .tooltip {
      display: block !important;
    }
  }

  &:active {
    box-shadow: $box-shadow-glow;
  }
}

@mixin btn-extend($bg, $outline, $text, $padding: $spacing-xxl) {
  @include btn-base($bg, $outline, $text, $padding);
}

.btn {
  display: inline-block;
  position: relative;
  height: 38px;
  text-align: center;
  font-size: 0.75em;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  @include btn-base();
  transition: all 200ms ease;
}

.btn-pink {
  $bg-color: $yandy-pink;
  $outline-color: $yandy-pink;
  $text-color: $white;
  @include btn-extend($bg-color, $outline-color, $text-color);
}

.btn-light-pink {
  $bg-color: $light-pink;
  $outline-color: $yandy-pink;
  $text-color: $yandy-pink;
  @include btn-extend($bg-color, $outline-color, $text-color);
}

.btn-light {
  $bg-color: $gray-300;
  $outline-color: $gray-300;
  $text-color: $gray-600;
  @include btn-extend($bg-color, $outline-color, $text-color);
}

.btn-outline {
  $bg-color: rgba(0,0,0,0);
  $outline-color: $gray-700;
  $text-color: $gray-700;
  @include btn-extend($bg-color, $outline-color, $text-color);
}

.btn-positive {
  $bg-color: $green;
  $outline-color: $green;
  $text-color: $white;
  @include btn-extend($bg-color, $outline-color, $text-color);
}

.btn-negative {
  $bg-color: transparent;
  $outline-color: $red;
  $text-color: $red;
  @include btn-extend($bg-color, $outline-color, $text-color);

  &:hover {
    background-color: $red !important;
    color: $white !important;
  }
}

.btn-icon {
  .fa {
    margin: 0;
  }

  &.btn-rounded {
    border-radius: 1000px;
    min-width: 38px;
  }
}

.btn-small {
  padding: 4px 8px;
  line-height: inherit;
}

.btn-full-width {
  width: 100%;
  & ~ .button {
    margin-top: 8px;
  }
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.btn-link {
  $bg-color: $white;
  $outline-color: transparent;
  $text-color: $gray-600;
  @include btn-extend($bg-color, $outline-color, $text-color, $spacing-md);
}