input::placeholder {
  color: #fff !important;
  opacity: 0 !important;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid $global-border-color;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

textarea {
  min-height: 65px;
  padding-top: 8px;
  padding-bottom: 8px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $yandy-pink;
  box-shadow: 0 0 0 2px transparentize($yandy-pink, 0.9);
  outline: 0;
}

label,
legend {
  //display: block;
  //font-weight: 600;

  &.placeholder {
    opacity: 0;
    pointer-events: none;
    display: block;
  }
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 4px;
  font-weight: normal;
}

.field {
  position: relative;

  &.with-icon {
    i.fa {
      position: absolute;
      top: 36px;
      left: 4px;

      & + input {
        padding-left: 20px;
      }
    }
  }

  &.error {
    color: $red-text;

    input, select, textarea {
      border-color: $red-300;
      background-color: $red-100;
      color: $red-text;
    }
  }
}

.form-message {
  padding: 4px 8px;
  margin: 4px 0;

  .fa {
    font-size: 12px;
    margin-right: 4px;
  }

  &.error {
    background-color: $red-100;
    color: $red-text;
    font-weight: 700;

    .fa {
      color: $red-text;
    }
  }

  &.success {
    background-color: $green-100;
    color: $green-text;
    font-weight: 700;

    .fa {
      color: $green-300;
    }
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  &::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  }

  &.active, &:focus {
    border: 1px solid $yandy-pink;
    outline: 0;
  }

}

.input-helper {
  color: $gray-600;
  font-size: 0.75rem;
  opacity: 0;
}



form {
  max-width: $global-max-width / 2;
  margin: 0 auto;

  .form-actions {
    padding: 8px 0;

    a {
      margin: 0 16px;
    }
  }
}

.field {
  margin-bottom: $spacing-md;

  .field-helper {
    color: $gray-600;
    font-size: 0.75rem;
    opacity: 0;
  }
}

.field-group {
  margin-bottom: $spacing-md;
}

input {

  &:invalid:not(:focus):not(:placeholder-shown) {
    border-color: $red-300;
    background-color: $red-100;
    color: $red-text;

    & ~ .input-helper {
      opacity: 1;
    }
  }

  &:valid:not(:focus):not(:placeholder-shown) {
    border-color: $green-300;
  }

}