/* Yandy Global Variables */

$brand-colors: (
        yandy-pink: #e60b8a,
        light-pink: #fbdbe9,
        pink-purple: #e4a6ca,
        light-gray: #e8e9ea,
        black: #000000,
        white: #ffffff
);

$ui-colors: (
        black: (
                default: #000000,
                light: #404040,
                lighter: #808080,
                lightest: #A7A6A6
        ),
        white: (
                default: #ffffff
        ),
        gray: (
                default: #CBCCCD,
                light: #E8E9EA,
                lighter: #F3F4F4,
                lightest: #F8F8F8
        ),
        success: (
                darker: #002c1d,
                dark: #007046,
                default: #00AF75,
                light: #9fe1cb,
                lighter: #dff5ee,
                text: #002c1d
        ),
        error: (
                darker: #400E16,
                dark: #9F2237,
                default: #FF2C3F,
                light: #FF9BAC,
                lighter: #FFE6EA,
                text: #9F2237
        ),
);

@import "utils/colors";

$yandy-pink: color(yandy-pink);
$light-pink: transparentize($yandy-pink, 0.9);
$pink-purple: color(pink-purple);

$black: color(black);
$white: color(white);

$gray-100: color(gray, lightest);
$gray-200: color(gray, lighter);
$gray-300: color(gray, light);
$gray-400: color(gray);
$gray-500: color(black, lightest);
$gray-600: color(black, lighter);
$gray-700: color(black, light);
$gray-text: $gray-500;
$gray: $gray-400;

$green-100: color(success, lighter);
$green-200: color(success, light);
$green-300: color(success);
$green-400: color(success, dark);
$green-500: color(success, darker);
$green-text: $green-500;
$green: $green-300;

$red-100: color(error, lighter);
$red-200: color(error, light);
$red-300: color(error);
$red-400: color(error, dark);
$red-500: color(error, darker);
$red-text: $red-500;
$red: $red-300;

$global-border-color: rgba(0, 0, 0, 0.175);
$global-icon-background-color: $gray-300;
$global-icon-text-color: $gray-600;
$global-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.01);
$global-box-shadow-sm: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-glow: 0 0 0 2px transparentize($yandy-pink, 0.9);
$global-baseline-grid: 8px;
$global-grid-gutter: 16px;
$product-grid-gutter: 24px;
$global-max-width: 1330px;
$global-transition: 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

$global-z-index-map: (
        background: -1,
        foreground: 10,
        overlay: 11
);

@import "utils/mixins";

$text-size-small: 0.75rem;
$text-color-light: $gray-text;