/*
  This file generates spacing !important utility classes.
 */

@for $key from 1 through length($spacing-list) {
  $name: nth($spacing-list, $key);
  $spacing: getSpacingValue($name);

  .p-#{$name}.p-#{$name} {
    padding: $spacing !important;
    box-sizing: border-box;
  }
  .pt-#{$name}.pt-#{$name} {
    padding-top: $spacing !important;
    box-sizing: border-box;
  }
  .pb-#{$name}.pb-#{$name} {
    padding-bottom: $spacing !important;
    box-sizing: border-box;
  }
  .pr-#{$name}.pr-#{$name} {
    padding-right: $spacing !important;
    box-sizing: border-box;
  }
  .pl-#{$name}.pl-#{$name} {
    padding-left: $spacing !important;
    box-sizing: border-box;
  }
  .py-#{$name}.py-#{$name} {
    padding-top: $spacing !important;
    padding-bottom: $spacing !important;
    box-sizing: border-box;
  }
  .px-#{$name}.px-#{$name} {
    padding-left: $spacing !important;
    padding-right: $spacing !important;
    box-sizing: border-box;
  }

  .m-#{$name}.m-#{$name} {
    margin: $spacing !important;
  }
  .mt-#{$name}.mt-#{$name} {
    margin-top: $spacing !important;
  }
  .mb-#{$name}.mb-#{$name} {
    margin-bottom: $spacing !important;
  }
  .mr-#{$name}.mr-#{$name} {
    margin-right: $spacing !important;
  }
  .ml-#{$name}.ml-#{$name} {
    margin-left: $spacing !important;
  }
  .my-#{$name}.my-#{$name} {
    margin-top: $spacing !important;
    margin-bottom: $spacing !important;
  }
  .mx-#{$name}.mx-#{$name} {
    margin-left: $spacing !important;
    margin-right: $spacing !important;
  }
}