.hide.hide {
  display: none;
}

.show.show {
  display: block;
}

.op-n.op-n {
  opacity: 0;
}

.op-low.op-low {
  opacity: 0.3333;
}

.op-med.op-med {
  opacity: 0.5;
}

.op-full.op-full {
  opacity: 1;
}