.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.op-n {
  opacity: 0 !important;
}

.op-low {
  opacity: 0.3333 !important;
}

.op-med {
  opacity: 0.5 !important;
}

.op-full {
  opacity: 1 !important;

}